<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MFA Validation</title>
  </head>
  <body>
    <h1>Enter Your Validation Code</h1>
    <form
      class="otc"
      id="otc"
      name="one-time-code"
      action="#"
      #validationForm="ngForm"
      (ngSubmit)="onClickSubmit(validationForm.value)"
    >
      <fieldset>
        <input
          class="text-center form-control rounded"
          type="number"
          pattern="[0-9]*"
          min="0"
          max="9"
          maxlength="1"
          value=""
          inputtype="numeric"
          name="otc-1"
          id="otc-1"
          required
          ngModel
        />
        <input
          class="text-center form-control rounded"
          type="number"
          pattern="[0-9]*"
          min="0"
          max="9"
          maxlength="1"
          value=""
          inputtype="numeric"
          name="otc-2"
          id="otc-2"
          required
          ngModel
        />
        <input
          class="text-center form-control rounded"
          type="number"
          pattern="[0-9]*"
          min="0"
          max="9"
          maxlength="1"
          value=""
          inputtype="numeric"
          name="otc-3"
          id="otc-3"
          required
          ngModel
        />
        <input
          class="text-center form-control rounded"
          type="number"
          pattern="[0-9]*"
          min="0"
          max="9"
          maxlength="1"
          value=""
          inputtype="numeric"
          name="otc-4"
          id="otc-4"
          required
          ngModel
        />
        <input
          class="text-center form-control rounded"
          type="number"
          pattern="[0-9]*"
          min="0"
          max="9"
          maxlength="1"
          value=""
          inputtype="numeric"
          name="otc-5"
          id="otc-5"
          required
          ngModel
        />
        <input
          class="text-center form-control rounded"
          type="number"
          pattern="[0-9]*"
          min="0"
          max="9"
          maxlength="1"
          value=""
          inputtype="numeric"
          name="otc-6"
          id="otc-6"
          required
          ngModel
        />
      </fieldset>
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-dark btn-lg" [disabled]="!validationForm.valid">Submit</button>
      </div>
    </form>

    <!-- Modal -->
    <ng-template
      class="modal fade"
      #askApprovalModal
      let-modal
    >
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{validHeader}}</h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">{{validationMessage(validBoolean)}}</div>
        </div>
    </ng-template>
    
  </body>
</html>
